<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', facilitator.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="bio" class="control-label">bio</label>
  <div class="controls">
    <%- contentTag('input', facilitator.bio, {type:'text', class:'span6', name:'bio'}) %>
  </div>
</div>
<div class="control-group">
  <label for="image" class="control-label">image</label>
  <div class="controls">
    <%- contentTag('input', facilitator.image, {type:'text', class:'span6', name:'image'}) %>
  </div>
</div>
<div class="control-group">
  <label for="contact" class="control-label">contact</label>
  <div class="controls">
    <%- contentTag('input', facilitator.contact, {type:'text', class:'span6', name:'contact'}) %>
  </div>
</div>
